body {
  font-family: Arial, sans-serif;
}

#meetingForm {
  width: 300px;
  margin: auto;
}

#meetingForm label,
#meetingForm select,
#meetingForm input,
#meetingForm button {
  display: block;
  margin-bottom: 15px;
}

#contactSelector, #timeSlotSelector{
   height :100px; 
   width :250px; 
} 

input[type=text]{
   padding :10px; 
   border-radius :5px; 
} 

button[type=submit]{
   background-color:#4CAF50; 
   color :white; 
   padding :10px 20px;
   border-radius:5px;
}

button[type=submit]:hover{
    background-color:#45a049;
}